.nav-main {
   justify-content: flex-end;
   display: flex;
   font-size: 15px;
   margin: 10px;
}

.nav-main p {
    width: 50px;
    justify-content: flex-end;
    padding: 15px;
    display: flex;
    margin: auto;
}

.nav-main h4 {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    padding: 15px;
}

.nav-main p:hover {
    font-style: italic;
    font-size:18px;
}

.get-info {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.get-info button {
    width: 100px;
    border-radius: 3px;
    margin: 10px ;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.box img {
    display: flex;
    width: 300px;
    justify-content: center;
    margin:10px auto;
    
}

.box h4, p {
    text-align: center;
    width: 300px;
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin: 10px auto;
}

.person-info {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: auto;
}